#container {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border: solid rgb(120, 49, 185);
    margin-top: 15%;
  }
  
  #titulo {
      text-align: center;
      border-bottom: solid rgb(120, 49, 185);
  }
  
  p {
      padding-left: 25px;
      font-family: 'Courier New', Courier, monospace;
  }
  
  #butonnn{
      color: rgb(0, 0, 0);
      margin-left: 300px;
      margin-bottom: 50px;
      margin-top: 25px;
      padding: 30px;
      font: black;
  }
body {
    background: rgb(228, 209, 245);
}
